{% extends 'homePage/index.html' %} {% block content %}

<title>Top News</title>
<style>
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
  }

  h1 {
    color: #080808;
  }

  .news-entry {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
    color: #141414;
  }

  .published-date {
    color: #555;
  }

  .news-summary {
    margin-top: 10px;
  }

  .source {
    color: #777;
  }
</style>

<h1>Today's News</h1>

{% for entry in entry_details %}
<div class="news-entry">
  <p class="title">{{ entry.title }}</p>
  <p class="published-date">Published on: {{ entry.published_date }}</p>
  <p class="news-summary">{{ entry.news_summary | safe}}</p>
  <p>
    source: {% for sub_article in entry.sub_articles %}
    <li>{{ sub_article.publisher }}</li>
    {% endfor %}
  </p>
</div>
{% endfor %} {% if entry_details.has_other_pages %}
<div class="pagination">
  <span class="step-links">
    {% if entry_details.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ entry_details.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ entry_details.number }} of {{ entry_details.paginator.num_pages }}
    </span>

    {% if entry_details.has_next %}
    <a
      id="next-link"
      href="javascript:void(0);"
      onclick="loadNextPage('{{ entry_details.next_page_url }}')"
      >next</a
    >
    <a href="?page={{ entry_details.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endif %} {% endblock %}
