{% extends 'homePage/index.html' %}
{% block content %}
<style>


  #modelPredictions {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: blue;
  }
  a:active {
    text-decoration: none;
    color: black;
  }
</style>
<div class="container mt-4 justify-content-center">
  <div class="row justify-content-center">
    <!-- Detection Window Column -->
    <div class="col-md-8">
      <!-- Detection page -->
      <div class="detectionWindow">
        <h4>Enter news article:</h4>
        <form action="{% url 'claimcheck' %}" method="post">
          {% csrf_token %}
          <br />
          <textarea
            id="user_input"
            name="user_input"
            required
            oninput="setUserInputToSessionStorage()"
            style="width: 600px ; height: 250px"
          ></textarea>
          <br />
          <button type="submit" class="btn btn-dark">Predict</button>
        </form>
      </div>
    </div>
<br>
    <!-- Result section -->
    <div class="col-sm-5">
      <h4 >Result</h4>
      Result:
      {% if result == 'This news is likely real.' %}
        <strong style="font-size: medium; color: #198754;">{{ result }}</strong>
                 <div id="myProgress">
                  <div id="myBar"></div>
                 </div>
      {% else %}
       <strong style="font-size: medium; color: #dc3545;">{{result}}</strong>
                  <div id="myProgress">
                   <div id="myBar"></div>
                   </div>
       {% endif %}
      <p>Most Frequent Stance: <strong>{{ most_frequent_stance }}</strong></p>
    </div>
  </div>
</div>
  <!-- divider window -->
 <hr width="90%" size="3" color="silver">
  <!-- Stance result window -->
<div class="container mt-4 justify-content-center">
    <h5 style = "text-align: center; ">Related Articles</h5>
    <div id="articleTable">
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Stance</th>
            <th scope="col">Article</th>
          </tr>
        </thead>
        <tbody>
          {% for article in claim_results %}
          <tr>
            <td>{{ article.maxp1 }}</td>
            <td><a href="{{ article.link }}">{{ article.title }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <!--div class="col-md-4 mb-4">
        
          <div id="modelPredictions">
            <h5></h5>
            <ul>
              <li></li>
            </ul>
          </div>
        </a>
      </div-->
      
      
    </div>
</div>
  
  

<script>
  
  
  //JavaScript code for the progress bar
  
  var i = 0;
  var prediction = "{{ prediction|default:0 }}";
  move(parseFloat(prediction) * 100);

  function move(uiValue) {
    if (i == 0) {
      i = 1;
      var elem = document.getElementById("myBar");
      var width = 10;
      var id = setInterval(frame, 10);

      function frame() {
        if (width >= uiValue) {
          clearInterval(id);
          i = 0;
        } else {
          width++;
          elem.style.width = width + "%";
          elem.innerHTML = width + "%";
        }
      }
    }
  }


  function setUserInputToSessionStorage() {
    userInputValue = document.getElementById("user_input").value;
    sessionStorage.setItem("user_input", userInputValue);
  }

  async function makePrediction(event) {
    event.preventDefault(); // Prevent default form submission behavior
    // Get user input
    userInputValue = document.getElementById("user_input").value;
    try {
      // asynchronous POST request to the Django view
      const response = await fetch('{% url "home" %}', {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: new URLSearchParams({
          user_input: userInputValue,
        }),
      });

      const data = await response.json();
      console.log(data);
      // Update only the result section dynamically
      document.getElementById("result").innerHTML =
        "<p>" + data.result + "</p><p>" + data.prediction + "</p>";
      // Set the user input back to the input field
      document.getElementById("user_input").value = userInputValue;
    } catch (error) {
      console.error("Error:", error);
    }
  }
  // Retain user input on page reload
  window.onload = function () {
    // Check session storage for user input
    const storedUserInput = sessionStorage.getItem("user_input");
    if (storedUserInput) {
      document.getElementById("user_input").value = storedUserInput;
    }
  };
</script>
{% endblock %}
