{% extends 'homePage/index.html' %} {% block content %}
<div class="bodyText">
 <h2 style="text-align: center; font-size:2.25rem;">The fake news detector you didn't know you needed.</h3>

      <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card">
            <div class="center" style="height: 310px;">
            <br>
            <i class="large material-icons" style="color: #ee6e73">sick</i>
            <div class="card-body">
              <h5 class="card-title"><p>Is the dis(information) age making you sick?</p></h5>
              <p class="card-text"><p class="light center">Don't fret, and cure your illness with this brand-new detector.</p></p>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card"style="height: 310px;">
            <div class="center">
            <br>
            <i class="large material-icons" style="color: green">fact_check</i>
            <div class="card-body">
              <h5 class="card-title"><p>Fact-check the news you read every day.</p></h5>
              <p class="card-text"><p class="light center">Just copy the text you want to try out. Press the button below.</p></p>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card" style="height: 310px;">
            <div class="center">
            <br>
            <i class="large material-icons" style="color: #fa9905">sentiment_very_satisfied</i>
            <div class="card-body">
              <h5 class="card-title"><p>A Machine Learning approach.</p></h5>
              <p class="card-text"><p class="light center">If you're satisfied, we collect the results of the news you send to us.</p></p>
            </div>
          </div>
          </div>
        </div>

      </div>

      </div>
      <div class="d-grid gap-2 col-2 mx-auto">
        <a href="{% url 'claimcheck' %}" class="btn btn-primary"  role="button" aria-disabled="true" style="--bs-btn-padding-y: 20rem; --bs-btn-padding-x: 30rem; --bs-btn-font-size: 1.75rem;">Make Prediction</a>
      </div>

{% endblock %}